# Project Specific
overviewer
assets/
chunks/
.env

# Build
dist/
build/
**.tsbuildinfo
/target
*/Cargo.lock

# Libs
node_modules/
thirdparty/*
!thirdparty/Makefile

# Debug
*.nbt
*.png
overviewer.dSYM

# IDEs
.vscode
.idea

# macOS
.DS_Store

# C
*.o
*.obj
*.a
*.s
*.out
